// 背景色
$bgColor: #F5F5FA;

//主色
$primary: #416DD7;
$success: #009EFF;
$going: #F39C12;
$alert: #F56854;

// 主标题
$headerSize: 20px;
// 标题
$titleSize: 18px;
// 子标题
$subtitleSize: 16px;
// 正文
$contentSize: 14px;
// 正文（小）
$mincontentSize: 13px;
// 辅助文字
$smallSize: 12px;


//重要文字颜色
$major: #333333;
//次要文字颜色
$secondary: #666666;
//最次要文字颜色
$minor:#999999;
// 占位文字
$placeholder: #cccccc;

//错误文字颜色
$error: #ED2E2C;

//蓝色链接
$link: #2F83FF;

//输入框线条，分割线
$border: #DCDFE6;

$iconSize: 24px;
//z-index

$contentWidth: 1200px;

